---
import Layout from "@/layouts/Layout.astro";
import { slide } from "astro:transitions";
import Header from "@/components/common/Header.astro";
import Footer from "@/components/common/Footer.astro";
import PageTitle from "@/components/common/PageTitle.astro";
import Grid from "@/components/sections/photos/Grid.astro";
import Container from "@/components/common/Container.astro";
---

<Layout title="Photos | Taichi Sakai">
  <Header />
  <main class="py-12" transition:animate={slide({ duration: "0.5s" })}>
    <PageTitle title="PHOTO LIST" />
    <Container>
      <Grid />
    </Container>
  </main>
  <Footer />
</Layout>
