---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/common/Header.astro";
import { customFade } from "@/utils/animation";
import Footer from "@/components/common/Footer.astro";
import PageTitle from "@/components/common/PageTitle.astro";
import Grid from "@/components/sections/photos/Grid.astro";
import Container from "@/components/common/Container.astro";
---

<Layout title="Photos | Taichi Sakai">
  <Header />
  <main
    class="py-12"
    transition:animate={customFade({ duration: "0.8s", initialOpacity: 0.2 })}
  >
    <PageTitle title="PHOTO LIST" />
    <Container>
      <Grid />
    </Container>
  </main>
  <Footer />
</Layout>
