---
import FadeIn from "@/components/ui/FadeIn.tsx";
import { CONTENTS } from "@/mocks/constants";
const contents = CONTENTS;
---

<section class="max-w-[1600px] mx-auto px-4 md:px-[5.5rem] py-[80px]">
	<h2 class="text-3xl font-sans tracking-widest uppercase mb-24 text-center">
		CONTENTS
	</h2>

	<div class="grid grid-cols-2 md:grid-cols-4 gap-[7.8vw]">
		{
			contents.map((content, index) => {
				return (
					<FadeIn client:visible delay={index * 0.2} opacityDuration={0.5}>
						<div class="aspect-square overflow-hidden cursor-pointer group">
							<img
								src={content.src}
								alt="Content"
								class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110 group-hover:opacity-80"
							/>
						</div>
					</FadeIn>
				);
			})
		}
	</div>
</section>
