---
import FadeIn from '@/components/ui/FadeIn.tsx'
import { EVENTS } from '@/mocks/constants'
const events = EVENTS
---

<section class="mx-auto max-w-[1600px] px-4 py-20 md:px-[5.5rem]">
  <h2 class="mb-32 text-center font-sans text-3xl tracking-widest uppercase">
    TIMELINE
  </h2>

  <div class="flex flex-col gap-[256px]">
    {
      events.map((event, index) => {
        return (
          <FadeIn client:visible opacityDuration={1}>
            <div
              class={`flex flex-col items-center gap-12 md:flex-row md:gap-24 ${index % 2 === 1 ? 'md:flex-row-reverse' : ''}`}
            >
              <div class="w-full md:w-1/2">
                <img
                  src={event.image}
                  alt={event.year}
                  class="aspect-[3/2] w-full object-cover grayscale-[20%] transition-all duration-500 hover:grayscale-0"
                />
              </div>
              <div class="w-full text-center md:w-1/2">
                <a
                  href={event.year}
                  class="relative inline-block text-4xl font-light tracking-widest text-[var(--color-text)] after:absolute after:-bottom-2 after:left-0 after:h-[2px] after:w-full after:origin-left after:scale-x-0 after:bg-black after:transition-transform after:duration-300 after:ease-out hover:after:scale-x-100"
                >
                  {event.year}
                </a>
              </div>
            </div>
          </FadeIn>
        )
      })
    }
  </div>
</section>
