---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/common/Header.astro";
import Hero from "@/components/sections/Hero.tsx";
import PhotoList from "@/components/sections/PhotoList.astro";
import Timeline from "@/components/sections/Timeline.astro";
import Contents from "@/components/sections/Contents.astro";
import Footer from "@/components/common/Footer.astro";

import { getMicroCmsList } from "@/libs/microcms";
import type { Photos } from "@/types/index"

const photos: Photos[] = await getMicroCmsList<Photos>({
  endpoint: 'photos',
  queries: { fields: ['id', 'main'] },
});

console.log(photos)
---

<Layout title="Taichi Sakai | Photography Portfolio">
	<Header />
	<main>
		<Hero client:load />
		<PhotoList photos={photos} />
		<Timeline />
		<Contents />
	</main>
	<Footer />
</Layout>
