---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/common/Header.astro'
import Hero from '@/components/Hero.tsx'
import PhotoList from '@/components/shared/PhotoList.astro'
import Timeline from '@/components/Timeline.astro'
import Contents from '@/components/Contents.astro'
import Footer from '@/components/common/Footer.astro'

import { getMicroCmsList } from '@/services/microcms'
import type { PhotosMain } from '@/types/index'

const photos: PhotosMain[] = await getMicroCmsList<PhotosMain>({
  endpoint: 'photos',
  queries: { fields: ['id', 'main', 'title'] },
})
---

<Layout title="Taichi Sakai | Photography Portfolio">
  <Header />
  <main>
    <Hero client:load />
    <PhotoList photos={photos} />
    <Timeline />
    <Contents />
  </main>
  <Footer />
</Layout>
