---
type Props = {
  title: string
}

const { title } = Astro.props
---

<div class="mb-16 text-center">
  <h1
    class="sans mb-4 text-center font-sans text-3xl tracking-widest uppercase"
  >
    {title}
  </h1>
  <a
    href="/"
    class="padding-bottom-[4px] inline-block border-b border-transparent text-sm transition-colors hover:border-[var(--color-text)]"
    >Back to Home</a
  >
</div>
