---
import { PHOTOS } from "@/mocks/constants";

const photos = PHOTOS;
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-[7.8vw]">
  {
    photos.map((photo, index) => {
      return (
        <div class="group">
          <a
            href={`/photos/${photo.id}`}
            class="block overflow-hidden mb-4 cursor-pointer"
          >
            <img
              src={photo.src}
              alt={photo.title}
              class="w-full aspect-[3/2] object-cover transition-transform duration-700 ease-out group-hover:scale-105 group-hover:opacity-80"
            />
          </a>
        </div>
      );
    })
  }
</div>
